{% extends 'base.html.twig' %}

{% block title %}New Payment{% endblock %}
{% block stylesheets %}<link rel="stylesheet" href="https://cdn.jsdelivr.net/simplemde/latest/simplemde.min.css">{% endblock %}

{% block body %}
   <div class="parallax-container valign-wrapper">
        <div class="section no-pad-bot">
            <div class="container">
                <h1 class="header center white-text light">{{campaign.title}}</h1>
                <div class="row center">
                    <h5 class="header col s12 light">- Organisée par : {{ campaign.name }} -</h5>
                </div>
            </div>
        </div>
        <div class="parallax"><img src="{{asset('assets/images/8.jpg')}}" alt="{{campaign.title}}"></div>
    </div>


    {{ include('payment/_form.html.twig') }}

{% endblock %}
{% block javascripts %}
    <script src="https://js.stripe.com/v3/"></script>
    <script src="{{asset('https://cdn.jsdelivr.net/simplemde/latest/simplemde.min.js')}}"></script>
{% endblock %}
